[submodule "chef/cookbooks/java"]
	path = chef/cookbooks/java
	url = https://github.com/henrygarner/java.git
[submodule "chef/cookbooks/ark"]
	path = chef/cookbooks/ark
	url = https://github.com/opscode-cookbooks/ark.git
