[submodule "chef/cookbooks/ark"]
	path = chef/cookbooks/ark
	url = https://github.com/opscode-cookbooks/ark.git
[submodule "chef/cookbooks/java"]
	path = chef/cookbooks/java
	url = https://github.com/opscode-cookbooks/java
[submodule "chef/cookbooks/ohai"]
	path = chef/cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai
[submodule "chef/cookbooks/maven"]
	path = chef/cookbooks/maven
	url = https://github.com/opscode-cookbooks/maven
[submodule "modules/stanbol"]
	path = modules/stanbol
	url = git://github.com/justinrainbow/puppet-stanbol.git
[submodule "chef/cookbooks/subversion"]
	path = chef/cookbooks/subversion
	url = https://github.com/opscode-cookbooks/subversion.git
